body{
    background-color: #171c28;
    margin: 4%;
}

/* text color devloper name */
.header-title ,.instruction-text{
    color: #fff !important;
}

h1{
    text-align: center;
    margin-top: 6%;
    font-family: 'Roboto Slab', serif;
    font-weight: 1000;
}
.instruction-font{
    text-align: center;
    margin-top: 1%;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.link-font{
    color: #fff !important;
}

.link-layout{
    margin-top: 7%;
}

.grey-color{
    color: #fff !important;
}

/* logo */
.logo-div{
    margin-left: 3%;
}

a{
    text-decoration: none;
    color: #fff !important;
}

.header-div{
    display: inline-block;
}
.menu-div{
    float: right;
}